@using Entities.Entities
@model Entities.Entities.User

@{
    ViewBag.Title = "Edit " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit @Model.Name</h3>


<table class="table">
    <tr>
        <th>
            Workspace Name
        </th>
        <th>
            Connection String
        </th>
        <th></th>
    </tr>

    @foreach (Workspace workspace in Model.Workspaces) {
        <tr>
            <td>
                @workspace.Name
            </td>
            <td>
                @workspace.ConnectionString
            </td>
        </tr>
    }



</table>
<hr />
<h4>Add new</h4>

<div>
    @using (Html.BeginForm("AddWorkspace", "Users")) {
        @Html.HiddenFor(model => model.ID)
        @Html.TextBox("name", "", "")
        @Html.TextBox("connection", "", "")
        <input type="submit" value="AddWorkspace" />
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
